
.app-container {
  background-color: slategray;
  border: 1px solid slategray;
}




.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 75px 0 0 0;

}

.books-container .card-container {
  height: 375px;
  width: 250px;
  margin: 0 15px 25px 15px;
  padding-top: 20px;
  background-color: #F0FFFF;
  opacity: 0.8;
  text-decoration: none;
  color: black;
  box-shadow: 1px 1px 1px 1px rgb(51, 51, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-container h2 {
  color: rgb(51, 26, 0);
  font-size: 16px;
  font-weight: normal;
}

.card-container img {
  height: 175px;
  width: 120px
}

.card-container h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 15px 10px 10px 10px;
}

.card-container h4 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}

.book-card {
  height: auto;
  width: 550px;
  margin: 50px 15px 500px 430px;
  background-color: #F0FFFF;
  opacity: 0.7;
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px 2px 2px rgb(51, 51, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.book-card img {
  height: 175px;
  width: 120px
}

.book-card h3 {
  margin: 5%;
}
.book-card h4 {
  margin: 0;
}
.book-card h5 {
  margin: 5%;
}
.book-card h6 {
  margin: 0;
}
.book-card .reviews {
  margin: 2%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal .modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

form {
  margin: 0 auto;
  width: 300px;
}

input {
  border: 0;
  outline: none;
}

.baseline,
input {
  background-color: #fff;
  font-size: 21px;
  height: 50px;
  width: 300px;
  padding: 0 8px;
  color: #1c5d76;
}
.baseline {
  height: 3px;
  background-color: #dcdcdc;
}

